# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs

PATH=$PATH:$HOME/.local/bin:$HOME/bin

export PATH

umask 022
export ORACLE_BASE={{ oracle_base[-1].path }}
export ORACLE_HOME={{ oracle_base[-1].path }}/product/12.1.0/dbhome_1
export LD_LIBRARY_PATH=$ORACLE_HOME/lib
export PATH=$ORACLE_HOME/bin:$PATH
export LANG=ja_JP.UTF8
export NLS_LANG=Japanese_Japan.AL32UTF8
